*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.snm
*.synctex.gz
*.tmp
*.toc
*.top
*.tui
*.vrb
*.sage
*.swp
*~
.DS_Store
*.idv
*.css
*.html
*.lg
*.4ct
*.4tc
*.xref
*.epub
*.png
!bilder/*.png
